<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mybatis.mapper.BoardMapper">

	<select id="getBoardList" parameterType="BoardListRequestDao" resultType="BoardListResponseDao">
		/* BoardMapper.getBoardList */
		SELECT
			a.bd_seq as bdSeq
			,a.bd_title as bdTitle
		<include refid="sqlGetBoardListFromQuery"></include>
		ORDER BY
			a.bd_title desc
		<include refid="com.example.demo.mybatis.mapper.CommonMapper.sqlPagerConditionQuery"></include>
	</select>

	<select id="getBoardListTotalCount" parameterType="BoardListRequestDao" resultType="long">
		/* BoardMapper.getBoardListTotalCount */
		SELECT
			count(*)
		<include refid="sqlGetBoardListFromQuery"></include>
	</select>

	<select id="getBoardAllList" parameterType="BoardListRequestDao" resultType="BoardListResponseDao">
		/* BoardMapper.getBoardAllList */
		SELECT
			a.bd_seq as bdSeq
			,a.bd_title as bdTitle
		<include refid="sqlGetBoardListFromQuery"></include>
		limit 10000
	</select>

	<sql id="sqlGetBoardListFromQuery">
		FROM tb_board_info a
		where 1=1
	</sql>

	<insert id="insertBoard" parameterType="BoardInsertRequestDao">
		/* BoardMapper.insertBoard */
		insert into tb_board_info
			a.bd_title
		) values (
			#{bd_title}
		)
	</insert>

	<update id="updateBoard" parameterType="BoardUpdateRequestDao">
		/* BoardMapper.updateBoard */
		update tb_board_info
		set
			a.bd_title = #{bd_title}
		where a.bd_seq = #{bd_seq}
	</update>

	<update id="updateDeleteBoard" parameterType="BoardUpdateDeleteRequestDao">
		/* BoardMapper.updateDeleteBoard */
		update tb_board_info
		set
			a.del_yn = 'Y'
		where a.bd_seq = #{bd_seq}
	</update>

</mapper>