<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mybatis.mapper.BoardMapper">

	<select id="getBoardList" parameterType="BoardListRequestDao" resultType="BoardListResponseDao">
		SELECT
			a.bd_seq as bdSeq
			,a.bd_title as bdTitle
		FROM tb_board_info a
	</select>

	<insert id="insertBoard" parameterType="BoardInsertRequestDao">
		insert into tb_board_info
			a.bd_title
		) values (
			#{bd_title}
		)
	</insert>

	<update id="updateBoard" parameterType="BoardUpdateRequestDao">
		update tb_board_info
		set
			a.bd_title = #{bd_title}
		where a.bd_seq = #{bd_seq}
	</update>

	<update id="updateDeleteBoard" parameterType="BoardUpdateDeleteRequestDao">
		update tb_board_info
		set
			a.del_yn = 'Y'
		where a.bd_seq = #{bd_seq}
	</update>

</mapper>